#portafolio{
    position: relative;
    width: 100%;
    overflow: hidden;
}



.item_portafolio  {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    padding: 40px;

}
#portafolio a{
    position: relative;
    overflow: hidden;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
   
}

.item_portafolio a .contenedor_imagen {
    width: 100%;
    height: 500px;
    overflow: hidden;
}



.item_portafolio a .contenedor_imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_portafolio a h2{
    text-decoration: none;
}
.item_portafolio a .contenedor_fondo_imagen{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #c59a9567;
    top: -500px;
    transform: translate(-100%, 0px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.item_portafolio a:hover .contenedor_fondo_imagen{
    transform: translate(0px, 0px);
    
}

.titulo_elemento_portafolio{
    position: relative;
    top: -60px;
    transition-property: top;
    transition-duration: 0.3s;
}

.item_portafolio a:hover .titulo_elemento_portafolio{
    top: 0px;
}

.contenedor_texto_fondo{
    transform: translate(0%, 250%);
    
}


@media(max-width:700px){
    

    .item_portafolio  {
     
        height: 350px;
        overflow: hidden;
        padding: 40px 20px;
    
    }

    .item_portafolio a .contenedor_imagen {
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    .item_portafolio a .contenedor_fondo_imagen{
 
        top: -390px;
        transform: translate(-100%, 0px);
        transition-property: transform;
        transition-duration: 0.3s;
    }
    .titulo_elemento_portafolio{
        top: -80px;
    }
    .item_portafolio a >h2{
        font-size: 20px;
    }
}