@font-face {
    font-family: 'Coco Gothic';
    font-style: normal;
    font-weight: 400;
    src: local('Coco Gothic'), url('https://fonts.cdnfonts.com/s/18222/Coco-Gothic-Regular-trial.woff') format('woff');
}