/* secciones */
*{
    font-family: 'Coco Gothic', sans-serif;
    
    margin:0px;
    padding:0px;
}
#contenedor_logo{
    width: 100%;
    background-color: #F7F7F7;
}
#proyectos{
    padding: 80px 0px;
    background-color: #F7F7F7;
}
#quien_soy{
    padding: 10px 0px 40px 0px;
    background-color: #C59A95;
}

#contacto{
    padding: 80px 0px;
    background-color: #F7F7F7;
}
#logo{
    width: 100%;
    margin: 50px 0px;
}
/***************FIN DE SSECCIONES****+*************************************/

/*********HEADER**************/
header{
    position: relative;    
    width: 100%;
    
    background-size: cover;
    overflow: hidden; 
    color: #E2CC43;
}  
header .download{
    position:absolute;
    right: 0px;
    top: 10px;
    font-family: sans-serif;
}
header .download:hover{
    transform: translateX(0)!important;
}
header .whats{
    position:absolute;
    right: 0px;
    top: 50px;
    font-family: sans-serif;
}
header .whats:hover{
    transform: translateX(0)!important;
}
/************FIN HEADER*******************/
/************BARRA*******************************/
#barra_menu_principal {
    position: relative;
    display: block;
    width: 80%;
    margin:auto;
    
}
#barra_menu_principal .contenedor_barra{
    padding: relative;
    text-align: center;
}
#barra_menu_principal .contenedor_barra ul {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin:0px;
}
#barra_menu_principal ul li{
    display: inline;
    margin: 0;
}
#barra_menu_principal ul li a{
    position: relative;
    color: black;
    padding: 25px; 
    font-size:18px;
    background-color: white;
    text-decoration: none;

    transition-property: background, color;
    transition-duration: 0.3s, 0.3s;
    letter-spacing: 7px;
}
#barra_menu_principal ul li a.active{
    background-color: #C59A95;
    color: white;
}
#barra_menu_principal ul li a:hover{
    background-color: #C59A95;
    color: white;
}
@media(max-width:700px){
    #barra_menu_principal .contenedor_barra ul {
        
        padding: 7px;
        margin:0px;
    }
    #barra_menu_principal ul li a{
        position: relative;
        color: black;
        padding: 15px; 
        font-size:12px;
        background-color: white;
        text-decoration: none;
        letter-spacing: 4px;
    }
}
/**************FIN BARRA*****************************/
/* INICIO_PROYECTOS*/
#proyectos > h1{
    margin-bottom: 30px;
    letter-spacing: 10px;
}
#proyectos .row .col{
    padding: 25px;
    margin-top:80px;
}
#proyectos .row .col .contenedor_imagen{
    overflow: hidden;
}
#proyectos .row .col img{
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition-property: scale;
    transition-duration: 1s;
}

#proyectos .row .col img:hover{
    scale: 1.2;
}
#proyectos .row .col h3{
    margin-top: 30px;
    margin-bottom: 15px;
}
#proyectos .row .col h5{
    letter-spacing: 5px;
    margin-top: 25px;
}
@media(max-width:700px){
    #proyectos > h1{
        font-size: 20px;
        letter-spacing: 10px;
        margin-bottom: 15px;
    }
    #proyectos .row .col{
        margin-top:40px;
    }

}
#enlace_portafolio{
    padding: 15px 30px;
    border-radius: 20px;
    border: 2px #C59A95 solid;
    color: #C59A95;
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 25px;
}
#enlace_portafolio:hover{
    color:white;
    background-color: #C59A95;
}
/*fin PROYECTOS*/
/* inicio profile*/

#container_img_profile{
    margin: auto;
    text-align: center;
}
#img_profile{
    
    position: relative;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 40px 0px;
    text-align: center;
}
#enlace_quienes_somos{
    padding: 15px 30px;
    border-radius: 20px;
    border: 2px white solid;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 25px;
}
#enlace_quienes_somos:hover{
    color:#C59A95;
    background-color: white;
}
@media(max-width:500px){
    #img_profile{
        width: 300px;
        height:300px;
    }
}
@media(max-width:350px){
    #img_profile{
        width: 200px;
        height:200px;
        
    }
}
#quien_soy p{
    font-size: 27px;
    text-align: justify;
}
/* fin_profile*/


/*fin imagenes grandes*/


#contacto h3{
    letter-spacing: 15px;
}

#contacto p{
    font-size: 25px;
}

@media(max-width:575px){
    #contacto .col{
        margin-top: 80px;
    }  
}
/***********************footer*********************/
footer{
    background: #3D3D3D;
    color: white;
    padding: 15px 0 15px 0;
}
footer p{
    text-align: center;
    margin-bottom: 0;
}


/***************Alert****************/
#alert{
    top:60px; 
    right:10px;
}
#alert .toast-header{
    background: #3D3D3D;
    color: #DEDCDD;
}